@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Khand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Khand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --std_Font_Khand:               'Khand';
    --std_Font_Bangers:             'Bangers';
    --std_Font_Chewy:               'Chewy';
    --std_Font_Luckiest_Guy:        'Luckiest Guy';
    --std_Font_Poppins:             'Poppins';
    --std_Font_Lato:                'Lato';
    --std_Font_Roboto:              'Roboto';
    --std_Font_Montserrat:          'Montserrat';  
    --std_Font_Oswald:              'Oswald';
    --std_Font_Raleway:             'Raleway';

    --std_Font_Weight_100:          100;

    --std_Colour_C2E2ee:            #C2E2EE;
    --std_Colour_649CBE:            #649CBE;
    --std_Colour_2E5F7C:            #2E5F7C;
    --std_Colour_FAFAFA:            #FAFAFA;
    --std_Colour_F9F9F9:            #F9F9F9;
    --std_Colour_F7F7F7:            #F7F7F7;
    --std_Colour_FFFDF8:            #FFFDF8;
    --std_Colour_FDF6EC:            #FDF6EC;
    --std_Colour_FAF3E0:            #FAF3E0;
    --std_Colour_F5F7FA:            #F5F7FA;
    --std_Colour_F2F4F8:            #F2F4F8;
    --std_Colour_EEF1F5:            #EEF1F5;
    --std_Colour_Black:             black;
    --std_Colour_Royalblue:         royalblue;
    --std_Colour_Lightgrey:         lightgrey;
    --std_Colour_Beige:             beige;
    --std_Colour_E5EDFF:            #E5EDFF;
    --std_Colour_DC0000:            #DC0000;     
    
    --std_Quarter_Rem:              0.25rem;
    --std_Half_Rem:                 0.5rem;
    --std_One_Rem:                  1.0rem;
    --std_OneHalf_Rem:              1.5rem;
    --std_Two_Rem:                  2.0rem;
    --std_TwoHalf_Rem:              2.5rem;
    --std_Three_Rem:                3.0rem;
    --std_ThreeHalf_Rem:            3.5rem;
    --std_Four_Rem:                 4.0rem;
    --std_FourHalf_Rem:             4.5rem;
    --std_Five_Rem:                 5.0rem;
    --std_Six_Rem:                  6.0rem;
    --std_Eight_Rem:                8.0rem;
    --std_NineHalf_Rem:             9.5rem;
    --std_Ten_Rem:                  10rem;
    --std_Fifteen_Rem:              15rem;
    --std_Nineteen_Rem:             19rem;
    --std_Twenty_Rem:               20rem;
    --std_Thirty_Rem:               30rem;
    --std_ThirtyEight_Rem:          38rem;
    --std_Forty_Rem:                40rem;
    --std_FortyOne_Rem:             41rem;
    --std_FortyThree_Rem:           43rem;
    --std_Sixtyfive_Rem:            65rem;

    --std_Time_Halfsec:             0.5s;
    --std_Time_Onesec:              1.0s;
    --std_Time_Twosec:              2.0s;

    --std_VH_5:                     5vh;
    --std_VH_10:                    10vh;
    --std_VH_15:                    15vh;
    --std_VH_20:                    20vh;
    --std_VH_30:                    30vh;
    --std_VH_40:                    40vh;
    --std_VH_45:                    45vh;
    --std_VH_46:                    46vh;
    --std_VH_50:                    50vh;

    --std_Position_Centre:          center;
    --std_Position_Fixed:           fixed;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 var(--std_Ten_Rem);
    background-color: var(--std_Colour_Lightgrey);
}

* {
    font-family: var(--std_Font_Khand);
    font-weight: var(--std_Font_Weight_100);
}

h2 {
    grid-column: 1 / -1;
}

hr {
    border: solid var(--std_Colour_Black) 2px;
    margin: 0 var(--std_One_Rem);
    grid-column: 1 / -1;
}

#leftSideMenu{
    margin: 0;
    display: flex;
    flex-direction: column;
    position: var(--std_Position_Fixed); 
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border: solid var(--std_Colour_Black) 1px;
    margin-left: 52px;
    border-radius: var(--std_Five_Rem);
    width: var(--std_Four_Rem);
    height: auto;
    padding: var(--std_One_Rem) 0;
    align-items: var(--std_Position_Centre);
    text-align: center;
    justify-content: var(--std_Position_Centre);
    gap: var(--std_Two_Rem);
    box-shadow: rgba(0, 0, 0, 1) 0px 4px 12px;
}

.svg {
    width: 60%;
    opacity: 0.4;
    border-radius: var(--std_Three_Rem);
    transition: ease-in var(--std_Time_Halfsec);
}

.svg:hover {
    transform: scale(1.1);
}

nav,
header,
#slideshow,
main,
aside,
#mainContainer,
footer,
#aboutMe,
#socialmedia,
form,
#disclaimer {
    border: solid var(--std_Colour_Black) 1px;
    margin: var(--std_Half_Rem);
    padding: var(--std_Half_Rem);
}

#firstNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    gap: 1px;
    background-color: var(--std_Colour_Black);
    height: fit-content;
}

#output {
    color: var(--std_Colour_E5EDFF);
}

#secondNav {
    height: var(--std_VH_15);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.divider {
    font-size: var(--std_Six_Rem);
    font-weight: 100;
}

#secondNav a {
    text-decoration: none;
    font-size: var(--std_Two_Rem);
    color: var(--std_Colour_Black);
    transition: ease-in var(--std_Time_Onesec);
    text-align: center;
    background-image: url(/Ferrari/Assets/Images/fire1.jpg);
    background-clip: text;
    color: transparent;
    animation: motion 30s linear infinite;
}

@keyframes motion {
    to {
        background-position: -800px;
    }
}

#secondNav a:hover {
    transform: scale(1.05);
    text-transform: uppercase;
    color: var(--std_Colour_DC0000);
}

@keyframes motion {
    to {
        background-position: -800px;
    }
}

header {
    height: fit-content;
}

header img {
    position: absolute;
    height: 49.5%;
    opacity: 1.0;
    box-shadow: rgba(0, 0, 0, 1) 0px 4px 12px;
    border-radius: var(--std_Half_Rem);
}

header h2 {
    margin: 0 0 0 var(--std_Thirty_Rem);
    text-align: justify;
    font-size: var(--std_Five_Rem);
    color: var(--std_Colour_DC0000);
}

header p {
    margin-left: var(--std_Thirty_Rem);
    text-align: justify;
}

#slideshow {
    width: -webkit-fill-available;
}

main {
    display: grid;
    grid-template-columns: 20% auto;
}

#showcase {
    border: solid black 1px;
    margin: var(--std_Half_Rem);
    padding: var(--std_Half_Rem);
    width: 97.6%;
    aspect-ratio: 16 / 9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

aside {
    display: flex;
    height: 82vh;
    flex-direction: column;
    gap: var(--std_Half_Rem);
    overflow-y: auto;      
    overflow-x: hidden;
    gap: var(--std_One_Rem);
}

aside img {
    cursor: pointer;
    width: 100%;
    border: solid var(--std_Colour_Black) 1px;
    margin-top: var(--std_One_Rem);
}

#mainContainer {
    grid-column: 1 / -1;
}

footer {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 40% 20% auto;
    height: auto;
}

footer h2 {
    margin: 0;
}

#aboutMe {
    height: inherit;
    box-shadow: none;
    padding: var(--std_Half_Rem);
}

#aboutMe img {
    width: 100%;
    aspect-ratio: 16 / 9;
    justify-self: center;
    margin-top: 45px;
    opacity: 0.05;
}

#socialmedia {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    gap: var(--std_Three_Rem);
}

#socialmedia h2 {
    text-align: start;
}

.socialsvg {
    width: 10%;
}


form {
    display: grid;
    grid-template-columns: 30% auto;
    height: auto;
}

input,
select,
textarea,
button {
    background-color: var(--std_Colour_Lightgrey);
    border: none;
    border: solid var(--std_Colour_Black) 1px;
    margin: var(--std_Half_Rem);
}

input::placeholder {
    color: var(--std_Colour_Black);
}

label {
    text-align: end;
    align-self: anchor-center;
    font-weight: bold;
}

select {
    grid-column: 2;
}

button {
    grid-column: 2;
    transition: ease var(--std_Time_Halfsec);
}

button:hover {
    box-shadow: rgba(0, 0, 0, 1) 0px 4px 12px;
    transform: scale(1.02);
    text-transform: uppercase;
    background-color: var(--std_Colour_Black);
    color: #649CBE;
}

#disclaimer {
    grid-column: 1 / -1;
    font-size: var(--std_Half_Rem);
    text-align: center;
}

#disclaimer h2 {
    margin: 0 0 0 var(--std_Thirty_Rem);
    text-align: justify;
    font-size: var(--std_One_Rem);
    color: var(--std_Colour_DC0000)
}

#copyright {
    grid-column: 1 / -1;
    font-size: var(--std_Half_Rem);
    padding: var(--std_Half_Rem);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}