/* From Uiverse.io by Yaya12085 */ 
.switch {
  position: relative;
  height: 1rem;
  width: 3rem;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgba(100, 116, 139, 0.377);
  transition: all .3s ease;
}

.switch p {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.switch:checked {
    /* background-color: rgba(236, 72, 153, 1); */
    /* background-color: rgba(0, 191, 255, 1); */
    background-color: rgba(30, 144, 255, 1);
    /* background-color: rgba(0, 200, 255, 1); */
    /* background-color: rgba(0, 191, 255, 0.7); */
    box-shadow: 0 0 12px rgba(0, 191, 255, 0.6);
    text-shadow: 0 0 8px rgba(0, 191, 255, 0.8);
}

.switch::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.6rem);
  display: block;
  height: 1rem;
  width: 1.6rem;
  cursor: pointer;
  border: 1px solid rgba(100, 116, 139, 0.527);
  border-radius: 9999px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 3px 10px rgba(100, 116, 139, 0.327);
  transition: all .3s ease;
}

.switch:hover::before {
  box-shadow: 0 0 0px 8px rgba(0, 0, 0, .15)
}

.switch:checked:hover::before {
  box-shadow: 0 0 0px 8px rgba(236, 72, 153, .15)
}

.switch:checked:before {
  transform: translateX(100%);
  /* border-color: rgba(236, 72, 153, 1); */
  border-color: rgba(30, 144, 255, 1);
}